# Activate plugins listed by `asdf current`
use asdf

# 💡To trust this file run
#
# $ asdf exec direnv allow .envrc
#

CURRENT_BRANCH=$(git symbolic-ref --short HEAD)

[[ -f .env ]] && dotenv .env

[[ -f .env.stage && $CURRENT_BRANCH == develop ]] && dotenv .env.stage

[[ -f .env.production && $CURRENT_BRANCH == master ]] && dotenv .env.production
